@charset "UTF-8";

body{
  margin: 0;
}

/*header*/

.menu ul{
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  list-style: none;
  overflow: hidden;
  height: 40px;
}

.menu ul li{
  width: 25%;
  float: left;
  text-align: center;
  margin: 8px 0;
}

.menu ul li a{
  color: #fff;
  text-decoration: none;
}

.top{
  position: relative;
  height: 600px;
}

.topimg{
  width: 100%;
  height: 100%;
}

#maintitle{
  position: absolute;
  font-size: 40px;
  color: #fff;
  top: 0;
  right: 20%;
  margin: 270px 0;
}

/*main*/
/*サービス*/
#service{
  width: 100%;
  margin: 60px auto;

}

.title{
  text-align: center;
  margin-bottom: 60px;
  font-size: 30px;
}

.service_detail{
  display: flex;
  align-items: center;
  justify-content: center;
}

.left{
  display: inline-block;
  height: auto;
}

.right{
  display: inline-block;
}

.right p{
  color: #696969;
  padding-bottom: 10px;
  border-bottom: 1px solid #888;
}

.right ul{
  list-style: none;
  padding: 0;
  color: #696969;
}

/*ニュース*/
#news {
  width: 100%;
  margin: 60px auto;
}

.news_detail{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.newslist{
  text-align: center;
  list-style: none;
  padding: 0;
}

.newslist li{
  text-align: left;
  padding: 10px 0;
}

/*価格*/
#price {
  width: 100%;
  margin: 60px auto;
}

.price_detail{
  margin: 0 150px;
}

.price_table{
  width: 100%;
  text-align: center;
}

.price_table, th, td{
  border: 3px double #000;
  border-collapse: collapse;
} 

/*お問い合わせ*/
#contact{
  background-color: #f6f5f5;
  padding: 30px 0;
  width: 100%; 
  margin: 0 auto; 
}

.contact_detail{
  margin: 0 200px;
}

.item{
  height: 25px;
  margin-bottom: 25px;
}

.item_content{
  height: 150px;
  margin-bottom: 25px;
}

.textbox{
  width: 60%;
  height: 30px;
  float: right;
  border: 1px solid #f5f5f5;
}

.textbox_content{
    width: 60%;
    height: 150px;
    float: right;
    border: 1px solid #f5f5f5;

}

.item_button{
  text-align: center;
  margin: 30px 0;
}

input[type="submit"] {
  width: 15%;
  font-size: 15px;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  background-color: #000;
  border: 1px solid #000;
  text-decoration: none;
}

/*footer*/

footer{
  background-color: black;
  color: #fff;
  text-align: center;
  height: 50px;
}

.copyright{
  display: inline-block;
  margin: 20px 0;
  height: 10px;
  width: 30%;
  font-size: 8px;
}
